/*https://youtu.be/M8Gq_HPDXsU*/

/*Schrift für h2 (Noto Sans Black 900)*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');

/*Schrift für p (Noto)*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');



body {
    /*background-image: url("img/hintergrund1.png");*/
    /*background-size: contain;*/
    background-color: black;
    z-index: -6;
}

p{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 30px;
    z-index: 2;
}

h3{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 50px;
    z-index: 2;
    font-size: 20px;
    font-weight: 100;
    align-items: center;
    margin-top: 20px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    position: fixed;
    font-size: 150px;
    margin-top: 350px;
    margin-left: 50px;
    z-index: -5;
}


/*Toggle switch button*/
.toggle {
    margin: 0 0 0 2rem;
    position: relative;
    display: inline-block;
    width: 20rem;
    height: 7rem;
    z-index: 3;
    margin-bottom: 20px;
}

.toggle input {
    display: none;
}

/*Button vor dem Drücken*/
.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.493);
    display: flex;
    transition: all 0.3s;
    border-radius: 20em;
    cursor: pointer;
}

/*Hellerwerden beim drüberhovern*/
.roundbutton:hover{
    background-color: rgb(128, 128, 128);
}

.roundbutton:before:hover{
    background-color: rgb(255, 255, 255);
}

/*Switch im Button*/
.roundbutton:before {
    position: absolute;
    content: "";
    height: 5.8rem;
    width: 5.8rem;
    border-radius: 100%;
    display: block;
    left: 0.5rem;
    bottom: 0.5rem;
    background-color: white;
    transition: all 0.3s;
}

/*Button nach dem Drücken*/
input:checked+.roundbutton {
    background-color: aquamarine;
}

input:checked+.roundbutton:before {
    transform: translate(13rem, 0);
}

/*Text zum Button*/
/*.navbutton {
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 9px;
    margin-top: 30px;
    margin-right: 20px;
    /*width: 500px;
}*/

/*Positionierungen*/
/*Positionierung (fixed) & Grösse toggle button*/
.flexboxcontainer>div {
    margin: 0;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    margin-top: 550px;
    position: fixed;
}

/*Position Text*/
.container {
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    /*h width: 75%;*/
    width: 70%;
    position: relative;
    left: 30px;
    margin-right: 0;
}

/*fixed Hintergrund und Text*/
.center-fixed-element {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


/*Anderer Cursor*/
.mycursor {
    cursor: url("img/textcursor_aquamarine.png"), pointer;
}









/*.svgstartseite{
    width: 100vw;
    height: 100vw;
    z-index: 2;
    pointer-events: none;
    /*fill: white;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
}


#w1{
    fill:rgb(3, 186, 248);
}

/*funktioniert nicht
#w1:hover{
    fill: violet;  
}
*/

/*funktioniert nicht
#w1:hover .st1{
    fill: tomato;
}
*/

/*funktioniert nicht
svg:hover #w1 {
    fill: wheat;
}
*/

/*funktioniert nicht
svg:hover #w1 .st1{
    fill: beige;
}


#r1{
    fill:rgb(3, 236, 248);
}

#i1{
    fill:rgb(3, 248, 199);
}

#t1{
    fill:rgb(3, 248, 130);
}

#t2{
    fill:rgb(3, 186, 248);
}

#e1{
    fill:rgb(3, 236, 248);
}

#n1{
    fill:rgb(3, 248, 199);
}

#e2{
    fill:rgb(3, 248, 130);
}

#m1{
    fill:rgb(3, 236, 248);
}

#o1{
    fill:rgb(3, 248, 199);
}

#t3{
    fill:rgb(3, 248, 130);
}

#i2{
    fill:rgb(3, 186, 248);
}

#o2{
    fill:rgb(3, 236, 248);
}

#n2{
    fill:rgb(3, 248, 199);
}

#s1{
    fill:rgb(3, 248, 130);
}*/




