/*https://youtu.be/M8Gq_HPDXsU*/

/*Quicksand, Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Mirza:wght@400;500&family=Mulish:ital,wght@1,200&family=Quicksand&display=swap');

/*h1*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');

/*h2*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*p*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');


body {
    height: 500vh;
    margin: 0;
    background-color: black;
    position: absolute;
    z-index: -5;
    background-image: url("img/hintergrund5.png");
}

h1 {
    font-family: 'Noto Sans', serif;
    color: white;
    margin-left: 33px;
    font-size: 18px;
}

/*Schriftgrösse Text Buttons*/
p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
}


/*Hover-Infos Legende*/
/*Beide*/
.extra { 
    display: none;
}

/*Titel*/
h1:hover {
    color: aquamarine;
}

h1:hover .extra {
    display: inline-block;
    font-size: 11px;
}

/*Text*/
/*.navbutton:hover .extra {
    display: inline-block;
    font-size: 11px; 
}*/


/*Dropdown-Menu*/
.dropdown {
    /* Border */
    border: solid 5px black;
    background-color: white;
    display: flex;
    /* Reset list styles */
    list-style-type: none;
    margin-top: 20px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 0;
    padding-left: 0;
    z-index: 6;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    width: 150px;
    position: fixed;
}

.dropdown li {
    /* Spacing */
    padding: 8px;
    background-color: white;
    /*border: black 5px;*/
    /* Used to position the sub dropdown */
    position: relative;
    z-index: 6;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    width: 150px;
    transition-duration: 0.2s;
}

/* The sub dropdown */
.dropdown ul {
    z-index: 6;
    /* Border */
    /* border: 2px solid rgb(0, 0, 0);*/
    /* Hidden by default */
    display: none;
    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;
    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Width */
    width: 150px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

/* The second level sub dropdown */
.dropdown ul ul {
    z-index: 6;
    left: 100%;
    position: absolute;
    top: 0;
}

/* Change background color of list item when being hovered */
.dropdown li:hover {
    z-index: 6;
    background-color: rgba(227, 227, 227, 0);
    cursor: pointer;
}

/* Show the direct sub dropdown when hovering the list item */
.dropdown li:hover>ul {
    z-index: 6;
    display: block;
    cursor: pointer;
    background-color: aquamarine;
}


/*Richtet alle Elemente aus*/
.center-fixed-element {
    position:inherit;
    top: 10%;
    left: 10%;
    transform: translate(-30%, -30%);
    -moz-transform: translate(-30%, -30%);
    -webkit-transform: translate(-00%, -20%);
    -o-transform: translate(-10%, -10%);
}


/*SVG-Pfade*/
.svg1 {
    width: 120vw;
    height: 120vw;
    z-index: 2;
    pointer-events: none;
    fill: white;
}

.svg2 {
    width: 110vw;
    height: 110vw;
    z-index: 1;
    pointer-events: none;
    fill: white;
    margin-left: 130px;
}


/*Toggle switch button*/
.toggle {
    margin: 0 0 0 2rem;
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: 2.4rem;
    z-index: 3;
}

.toggle input {
    display: none;
}

/*Button vor dem Drücken*/
.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.493);
    display: block;
    transition: all 0.3s;
    border-radius: 3.4rem;
    cursor: pointer;
}

/*Hellerwerden beim drüberhovern*/
.roundbutton:hover{
    background-color: rgb(128, 128, 128);
}

.roundbutton:before:hover{
    background-color: rgb(255, 255, 255);
}

/*Switch im Button*/
.roundbutton:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.6rem;
    border-radius: 100%;
    display: block;
    left: 0.5rem;
    bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.581);
    transition: all 0.3s;
}

/*Button nach dem Drücken*/
input:checked+.roundbutton {
    background-color: aquamarine;
}

input:checked+.roundbutton:before {
    transform: translate(2rem, 0);
}


/*Animation*/
.animate {
    animation: reveal 1s forwards;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateX(-180px);
    }
    to {
        opacity: 1;
        transform: translateX(-180px);
    }
}


/*Legende und Beschriftung*/
/*Äussere Box*/
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 250px;
    margin-left: 0;
    background-color: black;
}

/*Innere Box für Buttons*/
.navbox {
    flex-direction: column;
    flex-wrap: wrap;
    /*column-width: 100px;
    column-gap: 0px;*/
    margin-top: 400px;
    margin-left: 10px;
    height: 570px;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*Text zum Button*/
.navbutton {
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    margin-left: 33px;
    margin-bottom: 9px;
    margin-top: 30px;
    margin-right: 20px;
}


/*Anderer Cursor*/
.mycursor {
    cursor: url("img/textcursor_aquamarine.png"), pointer;
}