/*Noto Sans Black 900*/


/*h1*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap');

/*Noto Sans Regular 400*/


/*h2*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*Noto Sans Light 300*/


/*p*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
body {
    background-color: rgb(0, 0, 0);
    /*background-image: url("img/hintergrund5.png");*/
    margin-left: 30px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700px;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-top: 0;
    position: sticky;
    color: white;
}

.h1 {
    top: 200px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}


p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 1.4;
    color: white;
}

/*Navitation oben*/
a {
    text-decoration: none;
}

span {
    content: "\261A";
}

a:hover {
    cursor: pointer;
}

.navigationoben {
    position: fixed;
    /*background-color: rgb(255, 255, 255);*/
    height: 300px;
    margin-bottom: 10px;
    display: inline;
    z-index: 1;
    padding: 4px;
}

.containermenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Haus*/
.homebutton {
    display: flex;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*border: solid 2px white;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: dimgray;
}

.homebutton:hover {
    /*box-shadow: #7fffd4 10px 10px 10px;*/
    background-color: aquamarine;
}

/*Grösse Haus*/
.w3large {
    font-size: 60px;
    text-align: center;
}

.hinweishand {
    margin-left: 20px;
    font-size: 70px;
    color: white;
}


.ükategorien{
 float: left;
 width: 20%;  
 color: white;
}


/*Galery*/
div.gallery {
    border: solid rgba(204, 204, 204, 0);
    background-color: rgba(255, 255, 255, 0);
    /*display: flex;*/
    /*margin-bottom: 10px;*/
}


/*div.gallery:hover {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.03);
}*/

div.gallery img {
    /*flex-direction: row;*/
    width: 100%;
    /*height: 300px;*/
    position:inherit;
    object-fit:cover;
    /*transition: transform .10s;*/
}


div.desc {
    padding: 20px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

* {
    box-sizing:border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 20%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*Anderer Cursor*/

.mycursor {
    cursor: url("img/textcursor_aquamarine.png"), pointer;
}