/*https://youtu.be/M8Gq_HPDXsU*/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    height: 400vh;
    margin: 0;
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 2;
    position: relative;
}

svg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
}

.animate {
    animation: reveal 1s forwards;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateX(-180px);
    }
    to {
        opacity: 1;
        transform: translateX(-180px);
    }
}



a{
    text-decoration: none;
}

span{
    content: "\261A";
}


a:hover{
cursor: pointer;
}

.navigationoben{
    position:fixed;
    background-color: rgb(255, 255, 255);
    height: 300px;
    margin-bottom: 10px;
    display: inline;
    z-index: 1;
    padding: 4px;
}

.container{
    margin-top: 330px;
    position: absolute;
    width: 700px;
    column-count: 2;
    column-gap: 30px;
}

/*Haus*/
.homebutton{
    display: flex;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   /* border: solid 2px black;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: dimgray;
}

.homebutton:hover{
    /*box-shadow: #3f3 10px 10px 10px;*/
    background-color: aquamarine;
}

.w3large{
    font-size: 60px;
    text-align: center;

}

.containermenu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hinweishand{
    margin-left: 20px;
    font-size: 70px;
}