/*Ziel wäre dass sich der Text entlang des Pfades bewegt*/


/*https://youtu.be/9i3dWkncvZA*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.text {
    position: absolute;
}

.text1 {
    motion-offset: path('M171.42,246.49c4.72-4.95,9.39-9.95,13.94-15.05c31.99-35.81,81.1-78.02,147.14-88.94 c81.83-13.53,130.56,30.76,318,108c206.06,84.91,250.47,73.96,275,57c56.47-39.04,30.79-125.96,67-137 c57.84-17.64,226.35,172.78,178,306c-45.53,125.46-262.47,142.51-364,137c-149.02-8.08-241.17-75.16-256-53 c-29.21,43.63,341.01,284.24,300,372c-25.14,53.8-202.53,45.25-328-32c-123.63-76.12-224.75-236.13-185-355 c38.19-114.2,189.84-140.95,179-183c-15.94-61.82-345.81-11.96-362-78C151.18,270.94,162.02,256.35,171.42,246.49z');
    offset-path: path('M171.42,246.49c4.72-4.95,9.39-9.95,13.94-15.05c31.99-35.81,81.1-78.02,147.14-88.94 c81.83-13.53,130.56,30.76,318,108c206.06,84.91,250.47,73.96,275,57c56.47-39.04,30.79-125.96,67-137 c57.84-17.64,226.35,172.78,178,306c-45.53,125.46-262.47,142.51-364,137c-149.02-8.08-241.17-75.16-256-53 c-29.21,43.63,341.01,284.24,300,372c-25.14,53.8-202.53,45.25-328-32c-123.63-76.12-224.75-236.13-185-355 c38.19-114.2,189.84-140.95,179-183c-15.94-61.82-345.81-11.96-362-78C151.18,270.94,162.02,256.35,171.42,246.49z');
    animation: move 10s infinite alternate ease-in-out;
}

@keyframes move {
    0% {
        motion-offset: 0%;
        offset-distance: 0%;
    }
    100% {
        motion-offset: 100%;
        offset-distance: 100%;
    }
}